* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /** siden sidder fast husk **/
}

body {
    background-color: whitesmoke;
}


/****** splash ******/

#forside {
    width: 100vw;
    height: 167vw;
    background-image: url(newyorkjump3.png);
    background-size: cover;
    margin-top: 70px;
    padding-top: 1px;
}


/***** media queries ****/

@media screen and (min-width:376px) and (orientation: landscape) {
    #forside {
        background-image: url(newyorkjump2.png);
        height: 50vw;
    }
}

@media screen and (min-width: 628px) and (orientation:portrait) {
    #forside {
        background-image: url(newyorkjump3.png);
        height: 140vw;
    }
}

@media screen and (min-width: 769px) and (orientation: landscape) {
    #forside {
        background-image: url(newyorkjump2.png);
        height: 50vw;
    }
}

@media screen and (min-width: 1025px) {
    #forside {
        background-image: url(newyorkjump2.png);
        height: 50vw;
    }
}







 h1 {
    font-size: 50px;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
     margin-top: 10px
    /* text-align: left;*/
}

h2 {
    font-size: 50px;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 10px

}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
     margin-top: 10px
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    /* text-align: left;*/
    margin-top: 10px;
}


/******* menu *******/

header {
    width: 100%;
    height: 100px;
    position: fixed;
    text-align: right;
    top: 0;
    left: 0;
}

nav {
    display: block;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 65px;
    background-color: #ffffff;

}

nav li {
    display: inline-block;
}

nav li a {
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
    height: 35px;
}

nav a {
    color: #D97B61;
    padding: 15px;
    display: block;
}

nav li a:hover {
    color: #ffffff;
    background-color: #C4654F;
}

nav .current {
    color: #ffffff;
}


#de4 {
   max-width: 90vw;
  /*  display: block; */
    margin: auto;
   /* background-color: white;*/
    margin-top: 70px;
   /* background-color: white;*/
   /* margin-left: 50px;
    margin-right: 50px;*/
    text-align: justify;

}


#stile {
    background-color: white;
       padding: 40px;
    margin-bottom: 10px;

    text-align: justify;
}

.bund {
    padding: 50px;
   text-align:-webkit-center;
    margin-top: 20%;

}

.top {
    /*max-height: 400px;*/
    align-items: flex-start;


}





#cphdox{
    background-color: white;
      padding: 40px;
    margin-bottom: 15px;
}

#cphdox .bund {
     padding: 50px;
   text-align:-webkit-center;
  margin-top: 0;
    }
#redesign {
     background-color: white;
       padding: 40px;
    margin-bottom: 15px;
}


#eget {
     background-color: white;
       padding: 40px;
    margin-bottom: 15px;
}

#eget .bund {
    padding: 0px;
   text-align:-webkit-center;
    margin-top: 20%;
}
#sex {
     background-color: white;
       padding: 40px;
    margin-bottom: 15px;
}
#sex .bund {
       padding: 10px;
   text-align:-webkit-center;
  margin-top: 40px;
}

#kea {
     background-color: white;
       padding: 40px;
    margin-bottom: 15px;
}

#kea .bund {
       padding: 10px;
   text-align:-webkit-center;
  margin-top: 50px;
}

#republik {
     background-color: white;
    padding: 40px;

}

#republik .bund {
       padding: 10px;
   text-align:-webkit-center;
  margin-top: 50px;
}

.container{
    display: flex;
    flex-wrap: wrap;

}

.column {
    flex-basis: 400px;
    flex-grow: 1;
    align-self: auto;
    padding: 20px 20px;
    max-width: 600px;
    height: 100%;
    border: 3px;
    }

#fnug {

    width: 600px;
    height: 250px;
    background-size: 100%;
    background-repeat: no-repeat;


}

#de4 img {
    width: 100%;
    padding: 20px;
  /*  transition: all 1s;
    filter: brightness(100%);
    /*width: 70%;
    height: 200px;
    background-size: 100%;*/



  /*  width: 300px;
    height: 200px;*/

}

 /*#de4 img:hover {
    filter: brightness(120%);
    transform: scale(1.1);
} */

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;


}

.button1 {
    background-color: white;
    color: #C4654F;
   /* border: 2px solid #D97B61;*/
   height: 40px;

}

.button1 a {
    color: #D97B61;
    padding: 15px;
    display: block;
}

.button1 a:hover {
    background-color: #C4654F;
    color: white;
}

#stile .button {

}


/*********** footer ***********/

footer {
    width: 100%;
    text-align: center;
    color: #000;
    margin-top: 50px;
    background: rgba(217, 123, 97, 0.48);
}

footer p {
    padding-top: 30px;
    color: #fff;
}

.footer-text {
    display: inline-block;
    padding: 10px 10px;
    color: #ffffff;
}

#mig {
    background-color: white;
      padding: 40px;
    margin-bottom: 15px;
}

#cv {
    background-color: white;
      padding: 40px;
    margin-bottom: 15px;
}

#cv p {
padding: 10px

}

#forside img {
    width: 100vw;
    height: 50vw;
}
