* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /** siden sidder fast husk **/
}

/*body {
    background-color: white;
}*/


/****** splash ******/

#forside {
    width: 100vw;
    height: 83.73vw;
    background-image: url(kea_sne.jpg);
    background-size: cover;
    margin-top: 70px;
    padding-top: 1px;
}


/***** media queries ****/

@media screen and (min-width:376px) and (orientation: landscape) {
    #forside {
        background-image: url(img/splash_PB_2/mobile_landscape.jpg);
        height: 29.98vw;
    }
}

@media screen and (min-width: 628px) and (orientation:portrait) {
    #forside {
        background-image: url(img/splash_PB_2/tablet_portrait.jpg);
        height: 66.66vw;
    }
}

@media screen and (min-width: 769px) and (orientation: landscape) {
    #forside {
        background-image: url(img/splash_PB_2/tablet_landscape.jpg);
        height: 37.5vw;
    }
}

@media screen and (min-width: 1025px) {
    #forside {
        background-image: url(img/splash_PB_2/Desktop.jpg);
        height: 28.13vw;
    }
}

@media screen and (min-width: 2061px) {
    #forside {
        background-image: url(img/splash_PB_2/Retina.jpg);
        height: 27.34vw;
    }
}


@media screen and (max-width: 561px) {
  .hs-responsive-embed-youtube   {
      height: 300px;
       width: 164px;
    }
}

/******* menu *******/

header {
    width: 100%;
    height: 100px;
    position: fixed;
    text-align: right;
    top: 0;
    left: 0;
}

nav {
    display: block;
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 65px;
    background-color: #ffffff;
}

nav li {
    display: inline-block;
}

nav li a {
    padding: 15px 25px;
    text-decoration: none;
    text-align: right;
    height: 35px;
}

nav a {
    color: #D97B61;
    padding: 15px;
    display: block;
}

nav li a:hover {
    color: #ffffff;
    background-color: #C4654F;
}

nav .current {
    color: #ffffff;
}


#de4 {
  /*  max-width: 1024px;*/
  /*  display: block; */
    margin: auto;
   /* background-color: white;*/
    margin-top: 70px;
   /* background-color: white;*/
   /* margin-left: 50px;
    margin-right: 50px;*/
    text-align: justify;
}


#stile {
    background-color: white;
       padding: 40px;
    border-style: solid;
    border: 10px;
    text-align: justify;
}






#cphdox{
    background-color: white;
      padding: 40px;
}

#redesign {
     background-color: white;
       padding: 40px;
}


#eget {
     background-color: white;
       padding: 40px;
}

#sex {
     background-color: white;
       padding: 40px;
}

#kea {
     background-color: white;
       padding: 40px;
}

#republik {
     background-color: white;
    padding: 40px;

}
.container{
    display: flex;
    flex-wrap: wrap;

}

.column {
    flex-basis: 400px;
    flex-grow: 1;
    align-self: auto;
    padding: 20px 20px;
    max-width: 600px;
    height: 100%;
    border: 3px;
    }

#fnug {

    width: 600px;
    height: 250px;
    background-size: 100%;
    background-repeat: no-repeat;


}

#de4 img {
    width: 100%;
    padding: 20px;
  /*  transition: all 1s;
    filter: brightness(100%);
    /*width: 70%;
    height: 200px;
    background-size: 100%;*/



  /*  width: 300px;
    height: 200px;*/

}

 /*#de4 img:hover {
    filter: brightness(120%);
    transform: scale(1.1);
} */

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #D97B61;
   height: 10px;

}

.button1:hover {
    background-color: #D97B61;
    color: white;
}

#stile .button {

}
